.page__content {
  font-size: 0.9rem;
  line-height: 1.55;
}

.page__content p {
  margin-bottom: 0.35rem;
}

.page__content hr {
  margin: 0.6rem 0;
}

.page__content h2 {
  margin: 1rem 0 0.5rem;
}
